.env
/node_modules


//Backend

/backend/node_modules
/node_modules
/backend/.env


//Client

/client/node_modules
/client/.env



// 

.env.development
.env.production


ENV Variables required to run the APP for development purposes
- PORT



